/* Fichier CSS à personnaliser */
body {
	font-family: system-ui;
	background: linear-gradient(90deg, red, black);
    color: white; /* Le texte de la page sera blanc */
	text-align: center;
}
#h1 {
    text-align: center;
    color: red;
    background-color: black;
  }
  
.special {
    color: orange;
    background-color: navy;
    border: solid black;
  }

.souligne {
    text-decoration: underline red;
}

#bloc1 {
    border: 5px solid purple;
    width: 40%;
    background-color: darkturquoise;
    color: white;
    padding:20px;
  }

  #monImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }